@media screen and (max-width: 768px){
    nav{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 0px;

        display: none;
    }

    nav a{
        display: inline-block;
        text-decoration: none;
        padding: 15px;
        border: 0;
        border-bottom: 3px #28567A dotted;
        color: #28567A;
        /* display: none; */
        /* border-radius: 5px; */
    }

    .contenedor1{
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;

        /* margin: 10px; */
        /* gap: 15px; */

    }

    .contenedor1 article h3{
        /* border: 2px green solid; */
        text-align: center;
    }

    .contenedor1 figure {
        width: 100%;
    }

    .contenedor1 article{
        max-width: 100%;
    }

    header a{
        display: block;
    }
}